#s1 {
    color: red;
}

#s2 {
    color: red;
}

#h1{
    border: 1px black;
    -webkit-border-bottom-right-radius: 200px;
    -webkit-border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    border-bottom-left-radius: 200px;
}